@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root{
    --dark:#303030;
}
html{
    scroll-padding: 100px;
    scroll-behavior: smooth;
}


.img_backend{
    display: block;
    position: absolute;
    right: 322;
    margin-top: 200px;
    margin-left: 1000px;
    z-index:-1;
    top: 250px;


}


body{
    font-family: "Jost",sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    top: 0;
    padding-block: 30px ;
    /* padding-top: 30px;
    padding-left: 30px;
    margin-inline: 260px; */
}

.header__container{
    max-width: auto;
    margin-left: 260px;
    
    
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    

}



.header__list{
    display: flex;
    gap: 45px;

}

ul{
    list-style: none;
}

.header__list-link{
    font-family: "Jost",sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    color: var(--dark);
    transition: 1s;


}

a{
    text-decoration: none;
}

.header__list-link:hover{
    color:grey;
}

.header_button{
    font-weight: 600;
    font-family: "Jost",sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color:#fff;
    padding: 12px 38px;
    background-color: var(--dark);
    border-radius: 5px;
    margin-right: 260px;
    margin-left: 45px;
    

}

.header_button:hover{
    opacity: 70%;
    transition: 0.7s;
}

.hero_title{
    text-align: center;
    padding-top: 107px;
    font-weight: 600;
    font-family: "Jost",sans-serif;
    margin-inline: auto ;
    font-size: 50px;

}
.title-bottom{
    text-align: center;
    font-weight: 400;
    font-family: "Open sans",sans-serif;
    padding-top: 14px;
    font-size: 25px;
    color: #4E4E4E;
}

.first-block{
    margin-top: 104px;
    background-color:white;
    border-radius: 60;
    width: 872.87px;
    height: 939.72px;
    margin-top: 260;
    margin-left: 260px;
    box-shadow: 0 0 10px gray
    
}

.text-first-images{
    text-align: left;
    padding-top: 38px;
    padding-left: 64px;
    font-family: "Open sans",sans-serif;
    font-weight: 600;
    font-size: 20px;
    float: left;
}


.text-first-images{
    font-family: "Jost",sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding: 60px 32px 15px 32px;
    background-color: #fff;
}


.First__text_{
    font-family: "Open sans",sans-serif;
    padding-inline: 32px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #7D7D7D;
}

.first-block>.buttom_read_more{
    height: 60px;
    width: 800px;
    background-color: #303030;
    color: white;
    text-align: center;
    margin: 32px;
    font-family: "Open sans",sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;

}



.buttom_read_more:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    transition: 1s;
}

.two_container{
    margin: 100px;
    height: 939.72px;
    width: 872.87px;
    background-color: white;
    color:#303030;
    margin-left: 260px;
    box-shadow: 0 0 10px gray;
    

}


.two_text_container{
    font-family: "Jost",sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding-left: 32px;
    color: #303030;
    padding-top: 15px;
}

.text_in_container_two{
    font-size: 20px;
    padding-left: 32px;
    color: #7D7D7D;
    font-weight: 400;
    font-family: "Open sans",sans-serif;
    text-align: left;
}

.buttom_read_more_2{
    height: 60px;
    width: 800px;
    background-color: #303030;
    color: white;
    text-align: center;
    margin-left: 32px;
    font-family: "Open sans",sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 85px;
}

.buttom_read_more_2:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    transition: 1s;
}



.three_container{
    margin: 100px;
    height: 939.72px;
    width: 872.87px;
    background-color: white;
    color:#303030;
    margin-left: 260px;
    box-shadow: 0 0 10px gray;
    
}

.top_information_three_container{
    font-size: 40px;
    font-weight: 500;
    font-family: "Jost",sans-serif;
    padding-left: 32px;
    padding-top: 15px;
    color: #303030;
}

.info_three_container{
    font-size: 20px;
    font-weight: 400px;
    color: #7D7D7D;
    font-weight: 400;
    font-family: "Open sans",sans-serif;
    text-align: left;
    padding-left: 32px;
}


.Button_three_container{
     height: 60px;
    width: 800px;
    background-color: #303030;
    color: white;
    text-align: center;
    margin-left: 32px;
    font-family: "Open sans",sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 85px;

}

.Button_three_container:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 1s;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-content:center ;
    font-weight: 700;
    margin-left: 260px;
    font-family: "Jost",sans-serif;
    font-size: 25px;
    letter-spacing: 50px;
    margin-bottom: 20px;
}

.button-next{
    height: 60px;
    width: 120px;
    color:white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 10px;
    font-family: 'Jost',sans-serif;
    margin-left: 900px;
    margin-top: 0;
    position: absolute;
    top: 3425px;
    border-radius: 5px;  
}

.button-next:hover{
    cursor: pointer;
    transition: 1.25s;
    background-color: green;
}

.buttom_page{
    height: 702px;
    width: 100%;
    background-color: #303030;
    color: white;
    display: flex;
}


.img_buttom_page{
    margin-top: 50px;
    margin-left: 260px;
    height: 250px;
    width: 200px;

}


.massaces_1{
    display: flex;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    margin-left: 140px;
    height: 250px;
    width: 1600px;
    flex-direction: row;
    font-family: "Jost",sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-right: 100px;
    padding-inline: 100px;
    padding:20px;
   
    
    
}
.buttom_page_info{
    height: 500px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.buttom_page_info{
    display: inline-block;
    padding: 100px;
    padding-left: 100px;
    width: 100px;
    }

.massaces_1:hover{
    cursor: pointer;
    
}
